body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #fff;
}

.box {
  background: pink;
  padding: 20px;
  width: 400px;
  border: 2px solid grey;
}

input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 8px;
  background: pink;
  color: black;
  transition: all ease 0.4s;
}

button:hover {
  background: #eea990;
}
